<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="github.resources.img.web.dao.ImgMapMapper">

    <resultMap id="baseResultMap" type="github.resources.img.web.entity.ImageMap">
        <result column="id" jdbcType="BIGINT" property="id" javaType="java.lang.Long"/>
        <result column="img_name" jdbcType="VARCHAR" property="imgName" javaType="java.lang.String"/>
        <result column="relative_path" jdbcType="VARCHAR" property="relativePath" javaType="java.lang.String"/>
        <result column="suffix" jdbcType="VARCHAR" property="suffix" javaType="java.lang.String"/>
        <result column="create_id" jdbcType="BIGINT" property="createId" javaType="java.lang.Long"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" javaType="java.util.Date"/>
        <result column="ip" jdbcType="VARCHAR" property="ip" javaType="java.lang.String"/>
    </resultMap>

    <insert id="insert" parameterType="github.resources.img.web.entity.ImageMap">
        INSERT into img_map
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="imgName!=null">
                img_name,
            </if>
            <if test="relativePath!=null">
                relative_path,
            </if>
            <if test="suffix!=null">
                suffix,
            </if>
            <if test="createId!=null">
                create_id,
            </if>
            <if test="createTime!=null">
                create_time,
            </if>
            <if test="ip!=null">
                ip,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="imgName!=null">
                imgName,
            </if>
            <if test="relativePath!=null">
                relativePath,
            </if>
            <if test="suffix!=null">
                suffix,
            </if>
            <if test="createId!=null">
                createId,
            </if>
            <if test="createTime!=null">
                createTime,
            </if>
            <if test="ip!=null">
                ip,
            </if>
        </trim>
    </insert>


</mapper>
